@using Microsoft.AspNetCore.Http;
@model contatosFaleconosco


<link rel="stylesheet" type="text/css" href="~/css/bordas.css"/>

        <article class="text-center pt-5">
                     <!--***********************************************************************************************************************************-->   
                        
                           <div class="row   text-warning">
                            <div class="  col-sm-12 col-md-2 col-lg-3"></div>
                                <div class="col-sm-12 col-md-8 col-lg-6 ">
                                    <div id="euEscuto">
                                        <h5> acesse nossos canais de comunicação</h5>
                                        <h5>whastsupp: (11)99999-9999</h5>
                                    
                                        <h5>E-mail: infoCelEletronics.com.senac</h5>
                                    </div>
                             </div>
                                <div class="col-sm-12 col-md-2 col-lg-3"></div>
                         </div>
                      
          <!--***********************************************************************************************************************************-->   
                      

                         <div class="row">
                            <div class="col-md-2 col-lg-3"></div>
                                <div class="col-sm-12 col-md-8 col-lg-6 text-warning ">
                                    <div id="vcFala">
                                        <h5>Envie nos uma mensagem agora</h5>
                                    </div>
                                </div>
                            <div class="col-md-2 col-lg-3"></div>

                         </div>
          <!--***********************************************************************************************************************************-->   
                      
                         <div class="row te">
                            <div class="col-md-2 col-lg-3 "></div>  
                            <div class="  col-sm-12 col-md-8 col-lg-6 text-info ">        
                                
                                <form method="post"  asp-action="contatosFaleconosco">
                                                
                                    
                                    <div class="row">
                                         <div class="col-md-2 col-lg-2 "></div>  
                                        <div class="  col-sm-12 col-md-8 col-lg-8 text-warning "> 

                                    <label asp-for="msgTexto"> <strong> Digite aqui sua mensagem </strong></label> <br>
                                <textarea class="bg-light form-control" asp-for="msgTexto" class="text-light" rows="10" required value="" ></textarea><br>
                                    
                                        </div>
                                         <div class="col-md-2 col-lg-2 "></div>  

                                   </div>
                                


                                 <div class="row pt-5 mb-4">
                                         <div class="col-md-2 col-lg-2 "></div>  
                                        <div class=" col-sm-12 col-md-8 col-lg-8  mb-5"> 
                                     
                                    @if(Context.Session.GetInt32("Id")==null){   
                                        
                                         @if(Context.Session.GetInt32("idCliente")==null){
                                        <a  asp-controller="cliente" asp-action="CadastroCliente" style="text-decoration: none;"> <h5 style="color:;">Cadastre-se e Fale Conosco<h5> </a>
                                        <h5 id="avisoh3">se ainda não for cadastrado,<br>
                                    faça seu cadastro clicando</h5> 
                                    
                                    <a  asp-controller="cliente" asp-action="CadastroCliente"><h4 style="color: orangered;">aqui</h4></a> <strong>ou no menu cadastro e preencha o formulario de cadastro</strong>
                                    }else{  
                                    

                                            <input value=@Context.Session.GetInt32("idCliente") type="hidden" asp-for="identificadorCliente">  
                                            <input type="submit" value="Enviar">
                                    }
                                    
                                    } else{
                                         <input value=@Context.Session.GetInt32("usuarioADM") type="hidden" asp-for="identificadorCliente">
                                            <input type="submit" value="Enviar"> 

                                    }
                                   
                                </form>
                                 @ViewData["msg"]
                                 </div>
                                         <div class="col-md-2 col-lg-2 "></div>  

                                   </div>
                                
                            </div>
                        <div class="col-md-2 col-lg-3 "></div>
                        </div>
                       
        </article>
  