#mainInicial{
      padding-bottom: 0px;
      overflow: hidden;
     background: rgb(5, 42, 40);
      
    }
    
    
    #articleInicial{
      height: 400px;
      width: 59%;
      float: left;
      padding: 0.5%;
      background: rgb(5, 42, 40);
    
    }
    
    #divDoArticleInicial img{
      width: 40%;
      margin: 0px;
      float: left;
    }
    #divDoArticleInicial a{
      
     
      margin-right: -30px;
    
    }
    
    
    #paragrafo1ArticleInicial{
      width: 600px;
    float: right;
    
    }
    #paragrafo1ArticleInicial{
     
      font-size: 20px;
      color: orangered;
    }
    #asideInicial{
      height:30%;
      width: 21.5%;
      background: rgb(5, 42, 40);
      float: right;
      clear: right;
      padding: 0.5%;
    
      
    }
    
    #asideInicial h3{
      color: orangered;
    }
    #asideInicial p{
      color: orangered;
      font-size: 18px;
    }
    
    #grupoDivAsideInicial{
      width: 50%;
      height: 70%;
      float: right;
      margin-right: 5%;
      margin-top: 5%;
      background: rgb(5, 42, 40);
      margin-left: 10px;
    }
    
    #asidIniAcessPCelular img{
      
      float: right;
       
     }
     #asidInicelular img{
     
      position: relative;
    
     }
    
     #asidIniComputador img{
     float: right;
      
     }
    
    
    
    
    
    
    #sectionInicial{
      height: 200px;
      width: 99%;
      background: rgb(5, 42, 40);
      float: left;
      padding: 0.5%;
    }
    
    #rodapeInicial{
      float: left;
      width: 100%;  
      height: 100px;
      text-align: center;
      background: rgb(65, 133, 133);
    }
    
    #bodyInicial{
    
    width: 100%;
    }
    
    /* ZOOM NAS IMAGENS DA PAGINA INICIAL*/
    #divDoArticleInicial img{ /* zoom img*/
      width: 40%;
      margin: 30px 30px;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #divDoArticleInicial:hover img{
     -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    
    }
    /*_______________________________________________________*/
    /*________________________________________________________*/
    #asidIniAcessPCelular img{
      
      
     
      -moz-transition: all 0.9s;
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
    }
    #asidIniAcessPCelular:hover img{
      -moz-transform: scale(1.9);
      -webkit-transform: scale(1.9);
      transform: scale(1.9);
    }
    /*_________________*/
    #asidInicelular{
      
     -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
      
    
    }
    #asidInicelular:hover img{
      -moz-transform: scale(1.9);
      -webkit-transform: scale(1.9);
      transform: scale(1.9);
    }
    /*_____________________*/
    #asidIniComputador{
      
      -moz-transition: all 0.9s;
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
      
    }
    #asidIniComputador:hover img{
      -moz-transform: scale(1.9);
      -webkit-transform: scale(1.9);
      transform: scale(1.9);
    }
    /*__________________________*/
    #asidInicelPcPecas{
     
      
      -moz-transition: all 0.9s;
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
    }
    #asidInicelPcPecas:hover img{
      -moz-transform: scale(1.9);
      -webkit-transform: scale(1.9);
      transform: scale(1.9);
    }
    


    /* futuro carrocel de imagens*/


#prod1{
   
      float: left;
      margin-right: 10%;
      margin-left: 5%;
      
    }
    #prod2{
    float: left;
    margin-right: 10%;
    }
    
    #prod3{
    float: left;
    margin-right:5%;
    }
    
    #prod1 img{
      height: 180px;
    }
    
    #prod2 img{
      height: 180px;
    }
    #prod3 img{
      height: 180px;
    }
    
    
    