@{
  Layout = "_Layout";
}








  <div class="row pt-5  ">

                <div class="col-sm-12 col-md-4 col-lg-4 p-2  d-flex justify-content-center">

                  
                  


                        <div class="card" style="width: 18rem;margin-bottom:50px;">
                          <img class="card-img-top" width="300px" height="300px" src="~/img/acessoriocelular/D_NQ_NP_2X_970693-MLB44481532994_012021-F.webp" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">lente panoramica para celular</h5>
                                  <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
                                  <a asp-controller="produtos" asp-action="acessorios" class="btn btn-primary">comprar esta indisponivel no momento</a>
                                </div>
                        </div>
              </div>
              
                


                <div class="col-sm-12 col-md-4 col-lg-4 p-2  d-flex justify-content-center">

                  <div class="card" style="width: 18rem;margin-bottom:50px;">
                    <img class="card-img-top" width="300px" height="300px"
                      src="~/img/acessoriocelular/D_NQ_NP_946062-MLB42639363635_072020-O.webp" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">suporte para celular </h5>
                      <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
                      <a asp-controller="produtos" asp-action="acessorios" class="btn btn-primary">comprar esta indisponivel no momento</a>
                    </div>
                  </div>
                </div>



                <div class="col-sm-12 col-md-4 col-lg-4 p-2  d-flex justify-content-center">

                  <div class="card" style="width: 18rem;margin-bottom:50px;">
                    <img class="card-img-top" width="300px" height="300px"
                      src="~/img/acessoriocelular/D_NQ_NP_976279-MLB31207363600_062019-O.webp" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">suporte para celular</h5>
                      <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
                      <a asp-controller="produtos" asp-action="acessorios" class="btn btn-primary">comprar esta indisponivel no momento</a>
                    </div>
                  </div>
                </div>

  </div> <!--fim row-->


  <div class="row  ">
              <div class="col-sm-12 col-md-4 col-lg-4 p-2  d-flex justify-content-center">

                
                  
                        <div class="card" style="width: 18rem;margin-bottom:50px;">
                          <img class="card-img-top" width="300px" height="300px"
                            src="~/img/acessoriocompu/D_NQ_NP_2X_605078-MLA44102028425_112020-F.webp" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">suporte para microfone</h5>
                                    <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
                                    <a asp-controller="produtos" asp-action="acessorios" class="btn btn-primary">comprar esta indisponivel no momento</a>
                                  </div>
                        </div>
                
              </div>




                <div class="col-sm-12 col-md-4 col-lg-4 p-2  d-flex justify-content-center"> 
                            <div class="card" style="width: 18rem;margin-bottom:50px;">
                              <img class="card-img-top" width="300px" height="300px"src="~/img/acessoriocompu/D_NQ_NP_639834-MLB48733371777_012022-O.webp" alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">mouse sem fio</h5>
                                          <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
                                          <a asp-controller="produtos" asp-action="acessorios" class="btn btn-primary">comprar esta indisponivel no momento</a>                                        momento</a>
                                      </div>
                            </div>
                  </div>
                


                <div class="col-sm-12 col-md-4 col-lg-4 p-2  d-flex justify-content-center">
                        <div class="card" style="width: 18rem;margin-bottom:50px;">
                          <img class="card-img-top" width="300px" height="300px"src="~/img/acessoriocompu/D_NQ_NP_2X_920853-MLB48734575171_012022-F.webp" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">mouse pad</h5>
                                    <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
                                    <a asp-controller="produtos" asp-action="acessorios" class="btn btn-primary">comprar esta indisponivel no momento</a>
                                  </div>
                        </div>
                </div>

              
  </div>


