


<p><a asp-controller="produtos" asp-action="pecasComputador"><img  width="180px" height="180px" src="~/img/pecasPC.jpg">peças para computadores</a></p>
<p><a asp-controller="produtos" asp-action="pecasSmartphone"><img width="180px" height="180px" src="~/img/pecasCelullar.jpg">peças de celular</a></p>
