
        <article>

<div class="row pt-5  ">
  <div class="col-sm-12 col-md-4 col-lg-4  d-flex justify-content-center">
      <div class="card " style="width: 18rem;margin-bottom:50px; ">
        <img class="card-img-top" width="300px" height="300px" src="~/img/pecascelular/D_NQ_NP_2X_936223-MLB46100339778_052021-F.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">frontal mogoG</h5>
          <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
      <a asp-controller="produtos" asp-action="pecasSmartphone"  class="btn btn-primary">comprar esta indisponivel no momento</a>  </div>
</div>
</div>



<div class="col-sm-12 col-md-4 col-lg-4  d-flex justify-content-center">
    <div class="card" style="width: 18rem;margin-bottom:50px;">
      <img class="card-img-top" width="300px" height="300px" src="~/img/pecascelular/D_NQ_NP_643958-MLB31126957759_062019-O.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">conector de carga sansung </h5>
        <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
    <a asp-controller="produtos" asp-action="pecasSmartphone"  class="btn btn-primary">comprar esta indisponivel no momento</a>  </div>
    </div>
</div>


<div class="col-sm-12 col-md-4 col-lg-4  d-flex justify-content-center">
      <div class="card" style="width: 18rem;margin-bottom:50px;">
        <img class="card-img-top" width="300px" height="300px" src="~/img/pecascelular/mob22.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">placas principais </h5>
          <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
      <a asp-controller="produtos" asp-action="pecasSmartphone"  class="btn btn-primary">comprar esta indisponivel no momento</a>  </div>
      </div>
</div>


</div>
        </article>
  