@{
Layout = "_Layout";
}





<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Play:wght@700&display=swap" rel="stylesheet">



  <!--************************************************************************************************************************************************-->

  <div class="row mr-2 ml-2">




    <div class="col-sm-12 col-md-4 pt-3 pb-3 ">
      <div class="card" style="width:100%;">
        <a asp-controller="produtos" asp-action="computadores"> <img width="100%" class="card-img-top stretched-link"
            src="~/img/computador.jpg" alt="Imagem de capa do card "></a>
            <div class="card-body">
              <p class="card-text">Encontre o computador ideal pra você</p>
            </div>
      </div>

    </div>

    

    <div class="col-sm-12 col-md-4 pt-3 pb-3 ">
      <div class="card" style="width:100%;">
        <a asp-controller="produtos" asp-action="smartphone" class=" stretched-link"> <img width="100%" class="card-img-top "
            src="~/img/celulares.jpg" alt="Imagem de capa do card"></a>
        <div class="card-body">
          <p class="card-text">Encontre o smartphone ou tablet ideal pra você</p>
        </div>

      </div>
    </div>

    <div class="col-sm-12 col-md-4 pt-3 pb-3">
      <div class="card" style="width:100%;">
        <a asp-controller="produtos" asp-action="pecasComputador" class=" stretched-link"><img width="100%" class="card-img-top"   src="~/img/pecasPC.jpg" alt="Imagem de capa do card"></a>
        <div class="card-body">
          <p class="card-text">Encontre as peças que falta em seu computador</p>
        </div>
      </div>

    </div>


  </div>

  <!--************************************************************************************************************************************************-->


  <!--************************************************************************************************************************************************-->




  <div class="row mb-5 mr-2 ml-2">


    <div class="col-sm-12 col-md-4 pt-3 pb-3 borda">
      <div class="card" style="width:100%;">
        <a asp-controller="produtos" asp-action="pecasSmartphone" class=" stretched-link"><img width="100%" height="250px"
            src="~/img/pecasCelullar.jpg" alt="Imagem de capa do card"></a>
        <div class="card-body">
          <p class="card-text">peças de celular diversar marcar e modelos</p>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-4 pt-3 pb-3 borda">
      <div class="card" style="width:100%;">
        <a asp-controller="produtos" asp-action="acessorios" class=" stretched-link"><img width="100%" height="250px"
            src="~/img/acessoriosParaCelular.jpg" alt="Imagem de capa do card" style="border: none;"></a>
        <div class="card-body">
          <p class="card-text">acessorios para celular e computadores</p>
        </div>
      </div>

    </div>


    <div class="col-sm-12 col-md-4 pt-3 pb-3 borda">
      <div class="card" style="width:100%;">
        <a asp-controller="Servicos" asp-action="Servicos" class=" stretched-link"><img width="100%" height="250px"
            src="~/img/servicos.jpg" alt="Imagem de capa do card"></a>
        <div class="card-body">
          <p class="card-text">Seviços de manutençoes diversas</p>
        </div>
      </div>

    </div>




  </div>










