

<div class="row pt-5 ">
  <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;margin-bottom:50px;">
    <img class="card-img-top" width="300px" height="300px"
      src="~/img/smartphones/120309-phones-news-buyer-s-guide-best-smartphones-image3-wld40oe3yn.jpg"alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MotoG one</h5>
      <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
      <a asp-controller="produtos" asp-action="smartphone" class="btn btn-primary">comprar esta indisponivel no momento</a>
    </div>
  </div>
  </div>


<div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;margin-bottom:50px;">
    <img class="card-img-top"  src="~/img/smartphones/smartphones-topo-de-linha-de-2020-1606230609963_v2_1x1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MotoG 9 e MotoG9 plus</h5>
      <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
      <a asp-controller="produtos" asp-action="smartphone" class="btn btn-primary">comprar esta indisponivel no momento</a>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem; margin-bottom:50px;">
    <img class="card-img-top" width="300px" height="300px" src="~/img/smartphones/1464104-le-redmi-note-10-est-le-smartphone-le-plus-equilibre-du-marche-a-moins-de-200-euros.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xiaomi Redmi max</h5>
      <p class="card-text">preço: sob consulta, este produto no mento so esta senda vendido no loja fisica</p>
      <a asp-controller="produtos" asp-action="smartphone" class="btn btn-primary">comprar esta indisponivel no momento</a>
    </div>
  </div>
  </div>

</div>